.container {
  align-items: center;
}

.input {
  display: flex;
  justify-content: flex-end;
}

.input input {
  padding: 5px 10px;
}

.searchIcon {
  border-radius: 3px;
  background-color: #212529;
  cursor: pointer;
  padding: 5px 10px;
}
