.title {
  min-height: 10vh;
  text-transform: uppercase;
  font-weight: bold;
}

.calendar {
  opacity: 0.6;
  padding-bottom: 5px;
}

.date {
  margin-left: 10px;
}

.game_card {
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

.game_card:hover {
  transform: scale(1.03);
}

.card_img {
  min-height: 35vh;
  object-fit: cover;
}

.description {
  opacity: 0.6;
  flex: 1;
}

.publisher {
  min-height: 8vh;
  font-size: 17px;
  display: flex;
}

.value {
  flex: 2;
  margin-left: 10px;
}

.genre {
  background-color: crimson;
  border-radius: 5px;
  color: #181818;
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  padding: 0 5px;
}

.text {
  font-size: 17px;
  min-height: 8vh;
  display: flex;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  margin-left: 10px;
  align-items: flex-start;
}
