.title {
  min-height: 10vh;
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.publisher {
  min-height: 5vh;
}

.description {
  opacity: 0.6;
}

.genre {
  background-color: crimson;
  border-radius: 5px;
  color: #212529;
  padding: 2px 5px;
}

.game_card {
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}

.game_card:hover {
  transform: scale(1.03);
}
