.title {
  font-size: 18px;
  min-height: 10vh;
  text-transform: uppercase;
  font-weight: bold;
}

.calendar {
  opacity: 0.6;
  padding-bottom: 5px;
}

.date {
  margin-left: 10px;
}

.description {
  display: flex;
  align-items: center;
}

.game_card {
  background-color: #212529;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}

.game_card:hover {
  transform: scale(1.03);
}

.game_image {
  width: 100%;
  min-height: 16vh;
  object-fit: cover;
}

.card_section {
  padding: 3%;
}
