body {
  margin: 0;
  padding: 0 3%;
  background-color: #181818;
  color: #ddd;
}

a {
  text-decoration: none;
}
a,
a:hover {
  color: inherit;
}

/* ======= custom navbar ======= */
.navbar {
  border-left: 10px solid crimson;
  border-radius: 5px;
  /* padding: 1rem 0; */
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-nav .nav-link {
  /* border-right: 1px solid rgba(220, 20, 60, 0.7); */
  color: #ddd !important;
  font-weight: bold;
  padding: 1rem !important;
}

.navbar-nav:last-child .nav-link {
  border-right: none;
}

.navbar-nav .nav-link:hover {
  color: crimson !important;
  transition: 0.2s;
}

.dropdown-menu {
  background-color: #212529;
}

.dropdown-menu > * {
  color: #ddd;
}

.dropdown-menu > *:hover {
  background-color: crimson;
  color: #212529;
  transition: 0.2s;
}
/* ============================== */

.heading {
  display: inline-block;
  background-color: #181818;
  padding: 5px 10px;
  position: relative;
  top: -30px;
  left: 30px;
}

.heading span {
  color: crimson;
}

.heading_container {
  display: flex;
  justify-content: space-between;
}

.game_container {
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  margin-top: 5rem;
}

.game_container_section {
  margin-right: 3%;
  margin-left: 3%;
}

.game_col {
  margin: 0 0 1.25rem;
}

/* .heading_link {
  display: flex;
  justify-content: flex-end;
}

.heading_link a {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.2s;
}

.heading_link a:hover {
  border-color: crimson;
  color: crimson;
} */

/* =========================== */

/* ========== [id] styling ========== */
